[package]
name = "sql-migration-tests"
version = "0.1.0"
edition.workspace = true

[dependencies]
psl = { workspace = true, features = ["all"] }
schema-core.workspace = true
sql-schema-connector = { workspace = true, features = [
    "all-native",
] }
sql-schema-describer = { workspace = true, features = [
    "all-native",
] }
user-facing-errors = { workspace = true, features = [
    "all-native",
] }
test-macros.workspace = true
test-setup.workspace = true
prisma-value.workspace = true

bigdecimal.workspace = true
chrono.workspace = true
colored.workspace = true
connection-string.workspace = true
enumflags2.workspace = true
expect-test.workspace = true
indoc.workspace = true
jsonrpc-core.workspace = true
pretty_assertions.workspace = true
serde.workspace = true
serde_json.workspace = true
tempfile.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-futures.workspace = true
url.workspace = true
quaint = { workspace = true, features = ["all-native"] }

[dev-dependencies]
paste.workspace = true
