[package]
name = "sql-migration-tests"
version = "0.1.0"
edition = "2021"

[dependencies]
psl = { workspace = true, features = ["all"] }
schema-core = { path = "../core" }
sql-schema-connector = { path = "../connectors/sql-schema-connector", features = [
    "all-native",
] }
sql-schema-describer = { path = "../sql-schema-describer", features = [
    "all-native",
] }
user-facing-errors = { path = "../../libs/user-facing-errors", features = [
    "all-native",
] }
test-macros = { path = "../../libs/test-macros" }
test-setup = { path = "../../libs/test-setup" }
prisma-value = { path = "../../libs/prisma-value" }

bigdecimal = "0.3"
chrono.workspace = true
colored = "2"
connection-string.workspace = true
enumflags2.workspace = true
expect-test = "1.1.0"
indoc.workspace = true
jsonrpc-core = "17.0.0"
once_cell = "1.8.0"
pretty_assertions = "1"
serde.workspace = true
serde_json.workspace = true
tempfile = "3.1.0"
tokio.workspace = true
tracing.workspace = true
tracing-futures.workspace = true
url.workspace = true
quaint = { workspace = true, features = ["all-native"] }

[dev-dependencies]
paste = "1"
