[package]
name = "js-connectors"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
once_cell = "1.15"
serde.workspace = true
serde_json.workspace = true
quaint.workspace = true
psl.workspace = true
tracing = "0.1"
tracing-core = "0.1"

# Note: these deps are temporarily specified here to avoid importing them from tiberius (the SQL server driver).
# They will be imported from quaint-core instead in a future PR.
num-bigint = "0.4.3"
bigdecimal = "0.3.0"
chrono = "0.4.20"
futures = "0.3"

napi.workspace = true
napi-derive.workspace = true

[dev-dependencies]
expect-test = "1"
tokio.workspace = true
