### General env vars ###
export WORKSPACE_ROOT=$(pwd)
export RUST_LOG_FORMAT=devel
export RUST_BACKTRACE=1
export RUST_LOG=query_engine_tests=trace,query_engine=debug,query_core=trace,query_connector=debug,sql_query_connector=debug,prisma_models=debug,engineer=info,sql_introspection_connector=debug,tiberius=trace,quaint=debug

### Various local dev env vars ###
export PRISMA_DML_PATH=$(pwd)/datamodel_v2.prisma
export PRISMA2_BINARY_PATH="/usr/local/lib/node_modules/prisma2/"
export PRISMA_BINARY_PATH=$(pwd)/target/release/query-engine

### QE config vars, set to testing values ###
export SQLITE_MAX_VARIABLE_NUMBER=250000 # This must be in sync with the setting in the engineer build CLI
export QUERY_BATCH_SIZE=10 # Max size of IN statement vars.
export CLOSED_TX_CLEANUP=2 # Time in seconds when a closed interactive transaction will be removed from the cache.

### QE test setup vars ###
export LOG_LEVEL=trace

# (Example env vars if you're not using the make commands, i.e. the config files, to set up tests)
# export TEST_RUNNER="direct"
# export TEST_CONNECTOR="postgres"
# export TEST_CONNECTOR_VERSION="10"

if command -v nix-shell &> /dev/null
then
    use nix
fi