export SERVER_ROOT=$(pwd)
export RUST_LOG_FORMAT=devel
export RUST_BACKTRACE=1
export RUST_LOG=prisma=debug,quaint=debug,query_core=trace,query_connector=debug,sql_query_connector=debug,prisma_models=debug,engineer=info,sql_introspection_connector=debug
export LOG_QUERIES=y

# Controls Scala test kit verbosity. Levels are trace, debug, info, error, warning
export LOG_LEVEL=debug

# Controls Scala test kit test complexity ("simple", "complex")
export TEST_MODE=complex

export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export PRISMA_DML_PATH=$(pwd)/datamodel_v2.prisma

export PRISMA2_BINARY_PATH="/usr/local/lib/node_modules/prisma2/"
export PRISMA_BINARY_PATH=$(pwd)/target/release/prisma
export MIGRATION_ENGINE_BINARY_PATH=$(pwd)/target/release/migration-engine

# This must be in sync with the setting in the engineer build CLI
export SQLITE_MAX_VARIABLE_NUMBER=250000
