[workspace]
members = [
  "introspection-engine/core",
  "introspection-engine/connectors/introspection-connector",
  "introspection-engine/connectors/sql-introspection-connector",
  "migration-engine/cli",
  "migration-engine/connectors/migration-connector",
  "migration-engine/connectors/sql-migration-connector",
  "migration-engine/core",
  "migration-engine/migration-engine-tests",
  "query-engine/connectors/query-connector",
  "query-engine/connectors/sql-query-connector",
  "query-engine/core",
  "query-engine/prisma",
  "prisma-fmt",
  "libs/datamodel/core",
  "libs/datamodel/connectors/datamodel-connector",
  "libs/json-rpc-stdio",
  "libs/prisma-inflector",
  "libs/sql-schema-describer",
  "libs/test-cli",
  "libs/user-facing-errors",
  "libs/prisma-models",
  "libs/prisma-value",
]

[patch.crates-io]
quaint = { git = "https://github.com/prisma/quaint.git", branch = "master", features = ["full", "tracing-log"] }