[workspace]
resolver = "2"
members = [
  "schema-engine/cli",
  "schema-engine/core",
  "schema-engine/connectors/*",
  "schema-engine/datamodel-renderer",
  "schema-engine/json-rpc-api-build",
  "schema-engine/sql-migration-tests",
  "schema-engine/sql-introspection-tests",
  "schema-engine/mongodb-schema-describer",
  "schema-engine/sql-schema-describer",
  "query-engine/connectors/*",
  "query-engine/connector-test-kit-rs/qe-setup",
  "query-engine/connector-test-kit-rs/query-engine-tests",
  "query-engine/connector-test-kit-rs/query-test-macros",
  "query-engine/connector-test-kit-rs/query-tests-setup",
  "query-engine/core",
  "query-engine/core-tests",
  "query-engine/black-box-tests",
  "query-engine/dmmf",
  "query-engine/driver-adapters",
  "query-engine/metrics",
  "query-engine/prisma-models",
  "query-engine/query-engine",
  "query-engine/query-engine-node-api",
  "query-engine/query-engine-wasm",
  "query-engine/request-handlers",
  "query-engine/schema",
  "libs/*",
  "prisma-fmt",
  "prisma-schema-wasm",
  "psl/*",
  "quaint",
]

[workspace.dependencies]
psl = { path = "./psl/psl" }
serde_json = { version = "1", features = ["float_roundtrip", "preserve_order"] }
serde = { version = "1", features = ["derive"] }
tokio = { version = "1.25", features = [
  "rt-multi-thread",
  "macros",
  "sync",
  "io-std",
  "io-util",
  "parking_lot",
  "time",
] }
user-facing-errors = { path = "./libs/user-facing-errors" }
uuid = { version = "1", features = ["serde"] }
indoc = "2.0.1"
connection-string = "0.2"
napi = { version = "2.12.4", default-features = false, features = [
  "napi8",
  "tokio_rt",
  "serde-json",
] }
napi-derive = "2.12.4"

[workspace.dependencies.quaint]
path = "quaint"
features = [
  "expose-drivers",
  "fmt-sql",
  "mssql",
  "mysql",
  "pooled",
  "postgresql",
  "sqlite",
  "native",
]

[profile.dev.package.backtrace]
opt-level = 3

[profile.release.package.query-engine-node-api]
strip = "symbols"

[profile.release.package.query-engine]
strip = "symbols"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 's'   # Optimize for size.

[profile.profiling]
inherits = "release"
debug = true
