[workspace]
resolver = "2"
members = [
  "introspection-engine/connectors/*",
  "introspection-engine/core",
  "introspection-engine/datamodel-renderer",
  "introspection-engine/introspection-engine-tests",
  "migration-engine/cli",
  "migration-engine/connectors/*",
  "migration-engine/core",
  "migration-engine/json-rpc-api-build",
  "migration-engine/migration-engine-tests",
  "migration-engine/qe-setup",
  "query-engine/connectors/query-connector",
  "query-engine/connectors/sql-query-connector",
  "query-engine/connectors/mongodb-query-connector",
  "query-engine/core",
  "query-engine/dmmf",
  "query-engine/metrics",
  "query-engine/query-engine",
  "query-engine/query-engine-node-api",
  "query-engine/connector-test-kit-rs/query-engine-tests",
  "query-engine/prisma-models",
  "query-engine/request-handlers",
  "query-engine/schema",
  "query-engine/schema-builder",
  "libs/*",
  "prisma-fmt",
  "prisma-fmt-wasm",
  "psl/*",
]

[workspace.dependencies]
psl = { path = "./psl/psl" }
serde_json = { version = "1", features = ["float_roundtrip", "preserve_order"] }
serde = { version = "1", features = ["derive"] }
tokio = { version = "1.15", features = ["rt-multi-thread", "macros", "sync", "io-std", "io-util", "parking_lot", "time"] }
user-facing-errors = { path = "./libs/user-facing-errors" }
uuid = { version = "1", features = ["serde"] }

[workspace.dependencies.quaint]
git = "https://github.com/prisma/quaint"
features = [
  "bigdecimal",
  "chrono",
  "expose-drivers",
  "fmt-sql",
  "json",
  "mssql",
  "mysql",
  "pooled",
  "postgresql",
  "sqlite",
  "uuid",
]

[profile.dev.package.backtrace]
opt-level = 3

[profile.release.package.query-engine-node-api]
strip = "symbols"

[profile.release.package.query-engine]
strip = "symbols"

[profile.release]
lto = "fat"
codegen-units = 1
