[package]
name = "query-engine-wasm"
version = "0.1.0"
edition = "2021"

[lib]
doc = false
crate-type = ["cdylib"]
name = "query_engine"

[dependencies]
anyhow = "1"
async-trait = "0.1"
user-facing-errors = { path = "../../libs/user-facing-errors" }
psl.workspace = true
prisma-models = { path = "../prisma-models" }
quaint = { path = "../../quaint" }
query-connector = { path = "../connectors/query-connector" }
sql-connector = { path = "../connectors/sql-query-connector", package = "sql-query-connector" }
query-core = { path = "../core" }
request-handlers = { path = "../request-handlers", default-features = false, features = ["sql", "driver-adapters"] }
driver-adapters = { path = "../driver-adapters" }

connection-string.workspace = true 
js-sys.workspace = true
serde-wasm-bindgen.workspace = true
serde_json.workspace = true
tsify.workspace = true
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true

thiserror = "1"
url = "2"
serde.workspace = true
tokio = { version = "1.25", features = ["macros", "sync", "io-util", "time"] }
futures = "0.3"
log = "0.4.6"
wasm-logger = "0.2.0"

tracing = "0.1"
tracing-subscriber = { version = "0.3" }
tracing-futures = "0.2"
console_error_panic_hook = "0.1.7"
