[package]
edition = "2021"
name = "mongodb-query-connector"
version = "0.1.0"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bigdecimal = "0.3"
# bson = {version = "1.1.0", features = ["decimal128"]}
futures = "0.3"
itertools = "0.10"
mongodb = { git = "https://github.com/mongodb/mongo-rust-driver", features = ["bson-chrono-0_4", "bson-uuid-1"] }
rand = "0.7"
regex = "1"
serde_json = { version = "1.0", features = ["float_roundtrip"] }
thiserror = "1.0"
tokio = "1.0"
tracing = "0.1"
tracing-futures = "0.2"
uuid = "1"
indexmap = "1.7"
query-engine-metrics = {path = "../../metrics"}

[dependencies.prisma-models]
path = "../../prisma-models"

[dependencies.native-types]
path = "../../../libs/native-types"

[dependencies.mongodb-client]
path = "../../../libs/mongodb-client"

[dependencies.connector-interface]
package = "query-connector"
path = "../query-connector"

[dependencies.prisma-value]
path = "../../../libs/prisma-value"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.psl]
path = "../../../psl/psl"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.cuid]
git = "https://github.com/prisma/cuid-rust"

[dependencies.user-facing-errors]
features = ["sql"]
path = "../../../libs/user-facing-errors"
