[package]
name = "schema-engine-cli"
version = "0.1.0"
edition = "2024"

[dependencies]
schema-connector = { workspace = true, features = [
    "all-native",
] }
schema-core.workspace = true
user-facing-errors = { workspace = true, features = [
    "all-native",
] }
panic-utils.workspace = true

base64.workspace = true
jsonrpc-core.workspace = true
structopt.workspace = true
serde_json.workspace = true
serde.workspace = true
tokio = { workspace = true, features = ["io-std"] }
tracing.workspace = true
tracing-error.workspace = true
tracing-subscriber = { workspace = true, features = [
    "fmt",
    "json",
    "time",
    "env-filter",
] }

[dev-dependencies]
tempfile.workspace = true
test-setup.workspace = true
test-macros.workspace = true
url.workspace = true
indoc.workspace = true
connection-string.workspace = true
expect-test.workspace = true
quaint = { workspace = true, features = ["all-native"] }

[build-dependencies]
build-utils.workspace = true

[[bin]]
name = "schema-engine"
path = "src/main.rs"

[features]
vendored-openssl = ["schema-core/vendored-openssl"]
