[package]
name = "schema-engine-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
schema-connector = { path = "../connectors/schema-connector" }
schema-core = { path = "../core" }
user-facing-errors = { path = "../../libs/user-facing-errors", features = [
    "all-native",
] }

backtrace = "0.3.59"
base64 = "0.13"
jsonrpc-core = "17"
structopt = "0.3.8"
serde_json.workspace = true
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-error = "0.2"
tracing-subscriber = { version = "0.3", features = [
    "fmt",
    "json",
    "time",
    "env-filter",
] }

[dev-dependencies]
tempfile = "3.1.0"
test-setup = { path = "../../libs/test-setup" }
test-macros = { path = "../../libs/test-macros" }
url.workspace = true
indoc.workspace = true
connection-string.workspace = true
expect-test = "1.4.0"
quaint = { workspace = true, features = ["all-native"] }

[[bin]]
name = "schema-engine"
path = "src/main.rs"

[features]
vendored-openssl = ["schema-core/vendored-openssl"]
