[package]
name = "sql-migration-connector"
version = "0.1.0"
authors = ["Marcus BoÌˆhm <boehm@prisma.io>"]
edition = "2018"

[dependencies]
datamodel = { path = "../../../libs/datamodel/core" }
datamodel-connector = { path = "../../../libs/datamodel/connectors/datamodel-connector" }
migration-connector = { path = "../migration-connector" }
native-types = { path = "../../../libs/native-types" }
prisma-value = { path = "../../../libs/prisma-value" }
sql-schema-describer = { path = "../../../libs/sql-schema-describer" }
user-facing-errors = { path = "../../../libs/user-facing-errors", features = ["sql"] }

anyhow = "1.0.26"
async-trait = "0.1.17"
barrel = {git = "https://github.com/prisma/barrel.git", features = ["sqlite3", "mysql", "pg", "mssql"], branch = "mssql-support"}
chrono = { version = "0.4" }
enumflags2 = "0.6.0"
once_cell = "1.3"
quaint = { git = "https://github.com/prisma/quaint", features = ["single"] }
regex = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.9.1"
tokio = { version = "=0.2.13", features = ["time"] }
tracing = "0.1.10"
tracing-error = "0.1.2"
tracing-futures = "0.2.0"
uuid = { version = "*", features = ["v4"] }
url = "2.1.1"
tempfile = "3.1.0"
