[package]
edition = "2021"
name = "sql-migration-connector"
version = "0.1.0"

[features]
vendored-openssl = ["quaint/vendored-openssl"]

[dependencies]
psl.workspace = true
migration-connector = { path = "../migration-connector" }
sql-schema-describer = { path = "../../../libs/sql-schema-describer" }
sql-ddl = { path = "../../../libs/sql-ddl" }
sql-introspection-connector = { path = "../../../introspection-engine/connectors/sql-introspection-connector" }
user-facing-errors = { path = "../../../libs/user-facing-errors", features = ["sql"] }

chrono = { version = "0.4" }
connection-string = "0.1.10"
enumflags2 = "0.7.1"
indoc = "1.0"
once_cell = "1.3"
regex = "1"
serde_json = { version = "1.0" }
tokio.workspace = true
tracing = "0.1"
tracing-futures = "0.2"
url = "2.1.1"
uuid.workspace = true
either = "1.6"
quaint.workspace = true
