[package]
name = "psl"
version = "0.1.0"
edition = "2021"

[dependencies]
psl-core = { path = "../psl-core" }

[dev-dependencies]
base64 = "0.13.0"
dissimilar = "1.0.4"
expect-test = "1.1.0"
indoc.workspace = true
either = "1.8.1"
