[package]
edition = "2021"
name = "mongodb-migration-connector"
version = "0.1.0"

[dependencies]
datamodel = { path = "../../../libs/datamodel/core" }
mongodb-client = { path = "../../../libs/mongodb-client" }
mongodb-datamodel-connector = { path = "../../../libs/datamodel/connectors/mongodb-datamodel-connector" }
mongodb-schema-describer = { path = "../../../libs/mongodb-schema-describer" }
migration-connector = { path = "../migration-connector" }

async-trait = "0.1.17"
futures = "0.3"
mongodb = "2.1.0"
serde_json = "1"
tokio = { version = "1.0", features = ["parking_lot"] }
tracing = "0.1"
enumflags2 = "0.7"

[dev-dependencies]
dissimilar = "1.0.3"
once_cell = "1.8.0"
serde = "1"
url = "2"
