[package]
authors = [""]
edition = "2018"
name = "mongodb-migration-connector"
version = "0.1.0"

[dependencies]
datamodel = { path = "../../../libs/datamodel/core" }
migration-connector = { path = "../migration-connector" }

async-trait = "0.1.17"
bson = "2"
futures = "0.3"
mongodb = "2.0.1"
serde_json = "1"
tokio = { version = "1.0", features = ["parking_lot"] }
url = "2.1.1"
tracing = "0.1.29"

[dev-dependencies]
dissimilar = "1.0.3"
once_cell = "1.8.0"
serde = "1"
