[package]
edition = "2021"
name = "sql-query-connector"
version = "0.1.0"

[features]
postgresql = ["relation_joins", "quaint/postgresql", "psl/postgresql"]
postgresql-native = ["postgresql", "quaint/postgresql-native", "quaint/pooled"]
mysql = ["relation_joins", "quaint/mysql", "psl/mysql"]
mysql-native = ["mysql", "quaint/mysql-native", "quaint/pooled"]
sqlite = ["quaint/sqlite", "psl/sqlite"]
sqlite-native = ["sqlite", "quaint/sqlite-native", "quaint/pooled"]
mssql = ["quaint/mssql"]
mssql-native = ["mssql", "quaint/mssql-native", "quaint/pooled"]
cockroachdb = ["relation_joins", "quaint/postgresql", "psl/cockroachdb"]
cockroachdb-native = [
    "cockroachdb",
    "quaint/postgresql-native",
    "quaint/pooled",
]
vendored-openssl = ["quaint/vendored-openssl"]
all-native = [
    "sqlite-native",
    "mysql-native",
    "postgresql-native",
    "mssql-native",
    "cockroachdb-native",
]
# TODO: At the moment of writing (rustc 1.77.0), can_have_capability from psl does not eliminate joins
# code from bundle for some reason, so we are doing it explicitly. Check with a newer version of compiler - if elimination
# happens successfully, we don't need this feature anymore
relation_joins = []
# Enable Driver Adapters
driver-adapters = []

[dependencies]
psl.workspace = true
anyhow = "1.0"
async-trait.workspace = true
bigdecimal = "0.3"
futures.workspace = true
itertools.workspace = true
once_cell = "1.3"
rand.workspace = true
serde_json.workspace = true
thiserror = "1.0"
tokio = { version = "1", features = ["macros", "time"] }
tracing = { workspace = true, features = ["log"] }
tracing-futures = "0.2"
uuid.workspace = true
opentelemetry = { version = "0.17", features = ["tokio"] }
tracing-opentelemetry = "0.17.3"
cuid = { git = "https://github.com/prisma/cuid-rust", branch = "wasm32-support" }
quaint.workspace = true

[dev-dependencies]
expect-test = "1"

[dependencies.connector-interface]
package = "query-connector"
path = "../query-connector"

[dependencies.query-structure]
path = "../../query-structure"

[dependencies.prisma-value]
path = "../../../libs/prisma-value"

[dependencies.telemetry]
path = "../../../libs/telemetry"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.user-facing-errors]
features = ["sql"]
path = "../../../libs/user-facing-errors"
