[package]
authors = []
edition = "2018"
name = "sql-query-connector"
version = "0.1.0"

[features]
vendored-openssl = ["quaint/vendored-openssl"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bigdecimal = "0.2"
futures = "0.3"
itertools = "0.8"
rand = "0.7"
serde_json = { version = "1.0", features = ["float_roundtrip"] }
thiserror = "1.0"
tracing = "0.1.22"
tracing-futures = "0.2.4"
tokio = "1.0"
uuid = "0.8"

[dependencies.quaint]
features = [
  "pooled",
  "json",
  "uuid",
  "chrono",
  "sqlite",
  "postgresql",
  "mysql",
  "mssql",
  "bigdecimal",
  "serde-support"
]
git = "https://github.com/prisma/quaint"

[dependencies.connector-interface]
package = "query-connector"
path = "../query-connector"

[dependencies.prisma-models]
features = ["sql-ext"]
path = "../../../libs/prisma-models"

[dependencies.prisma-value]
features = ["sql-ext"]
path = "../../../libs/prisma-value"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.datamodel]
path = "../../../libs/datamodel/core"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.cuid]
git = "https://github.com/prisma/cuid-rust"

[dependencies.user-facing-errors]
features = ["sql"]
path = "../../../libs/user-facing-errors"
