[package]
edition = "2021"
name = "sql-query-connector"
version = "0.1.0"

[features]
default = ["postgresql", "sqlite", "mysql"]
vendored-openssl = ["quaint/vendored-openssl"]
postgresql = ["quaint/postgresql"]
sqlite = ["quaint/sqlite"]
mysql = ["quaint/mysql"]

# Enable Driver Adapters
driver-adapters = []

[dependencies]
psl.workspace = true
anyhow = "1.0"
async-trait = "0.1"
bigdecimal = "0.3"
futures = "0.3"
itertools.workspace = true
once_cell = "1.3"
rand.workspace = true
serde_json.workspace = true
thiserror = "1.0"
tokio = { version = "1.0", features = ["macros", "time"] }
tracing = "0.1"
tracing-futures = "0.2"
uuid.workspace = true
opentelemetry = { version = "0.17", features = ["tokio"] }
tracing-opentelemetry = "0.17.3"
cuid = { git = "https://github.com/prisma/cuid-rust", branch = "wasm32-support" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
quaint.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
quaint = { path = "../../../quaint", default-features = false }

[dependencies.connector-interface]
package = "query-connector"
path = "../query-connector"

[dependencies.query-structure]
path = "../../query-structure"

[dependencies.prisma-value]
path = "../../../libs/prisma-value"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.user-facing-errors]
features = ["sql"]
path = "../../../libs/user-facing-errors"
