[package]
edition = "2021"
name = "query-core"
version = "0.1.0"

[features]
metrics = ["prisma-metrics"]
graphql-protocol = []

[dependencies]
async-trait.workspace = true
bigdecimal.workspace = true
chrono.workspace = true
connection-string.workspace = true
connector = { path = "../connectors/query-connector", package = "query-connector" }
crossbeam-channel = "0.5.6"
psl.workspace = true
futures.workspace = true
indexmap.workspace = true
itertools.workspace = true
once_cell = "1"
petgraph = "0.4"
query-builder = { path = "../query-builders/query-builder" }
sql-query-builder = { path = "../query-builders/sql-query-builder" }
query-structure = { path = "../query-structure", features = [
    "default_generators",
] }
pretty = { version = "0.12", features = ["termcolor"] }
prisma-metrics = { path = "../../libs/metrics", optional = true }
serde.workspace = true
serde_json.workspace = true
thiserror = "1.0"
tokio = { version = "1", features = ["macros", "rt", "time"] }
tracing = { workspace = true, features = ["attributes"] }
tracing-futures.workspace = true
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
user-facing-errors = { path = "../../libs/user-facing-errors" }
uuid.workspace = true
cuid.workspace = true
ulid.workspace = true
schema = { path = "../schema" }
crosstarget-utils = { path = "../../libs/crosstarget-utils" }
telemetry = { path = "../../libs/telemetry" }
lru = "0.7.7"
enumflags2.workspace = true
derive_more.workspace = true

# HACK: query builders need to be a separate crate, and maybe the compiler too
# HACK: we hardcode PostgreSQL as the dialect for now
sql-query-connector = { path = "../connectors/sql-query-connector", features = [
    "postgresql",
] }
# HACK: this should not be in core either
quaint.workspace = true
