[package]
authors = ["Dominic Petrick <dompetrick@gmail.com>", "Katharina Fey <kookie@spacekookie.de>"]
edition = "2021"
name = "query-core"
version = "0.1.0"

[features]
default = ["sql", "mongodb"]
mongodb = ["mongodb-connector"]
sql = ["sql-connector"]

[dependencies]
async-trait = "0.1"
base64 = "0.12"
bigdecimal = "0.3"
chrono = "0.4"
connection-string = "0.1"
connector = { path = "../connectors/query-connector", package = "query-connector" }
crossbeam-queue = "0.3.5"
mongodb-client = { path = "../../libs/mongodb-client/" }
psl.workspace = true
futures = "0.3"
indexmap = { version = "1.7", features = ["serde-1"] }
itertools = "0.10"
mongodb-connector = { path = "../connectors/mongodb-query-connector", package = "mongodb-query-connector", optional = true }
once_cell = "1"
petgraph = "0.4"
prisma-models = { path = "../prisma-models" }
prisma-value = { path = "../../libs/prisma-value" }
opentelemetry = { version = "0.17.0", features = ["rt-tokio", "serialize"] }
query-engine-metrics = {path = "../metrics"}
serde.workspace = true
serde_json.workspace = true
sql-connector = { path = "../connectors/sql-query-connector", package = "sql-query-connector", optional = true }
thiserror = "1.0"
tokio.workspace = true
tracing = { version = "0.1", features = ["attributes"] }
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-opentelemetry = "0.17.4"
url = "2"
user-facing-errors = { path = "../../libs/user-facing-errors" }
uuid = "1"
cuid = "1.2"
pin-utils = "0.1"
schema = { path = "../schema" }
schema-builder = { path = "../schema-builder" }
parking_lot = "0.12"
lru = "0.7.7"
enumflags2 = "0.7"

