[package]
edition = "2021"
name = "query-core"
version = "0.1.0"

[features]
metrics = ["prisma-metrics"]
graphql-protocol = []

[dependencies]
async-trait.workspace = true
bigdecimal.workspace = true
bon.workspace = true
chrono.workspace = true
connection-string.workspace = true
connector = { path = "../connectors/query-connector", package = "query-connector" }
crossbeam-channel.workspace = true
psl.workspace = true
futures.workspace = true
indexmap.workspace = true
itertools.workspace = true
petgraph.workspace = true
query-builder.workspace = true
sql-query-builder.workspace = true
query-structure = { workspace = true, features = [
    "default_generators",
] }
prisma-metrics = { workspace = true, optional = true }
serde.workspace = true
serde_json.workspace = true
smallvec.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros", "rt", "time"] }
tracing = { workspace = true, features = ["attributes"] }
tracing-futures.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
user-facing-errors.workspace = true
uuid.workspace = true
cuid.workspace = true
ulid.workspace = true
schema.workspace = true
crosstarget-utils.workspace = true
telemetry.workspace = true
lru.workspace = true
enumflags2.workspace = true
derive_more.workspace = true
