[package]
name = "schema"
version = "0.1.0"
edition = "2021"

[dependencies]
query-structure = { path = "../query-structure" }
crosstarget-utils = { path = "../../libs/crosstarget-utils" }
psl.workspace = true
rustc-hash = "1.1.0"
once_cell = "1"

[dev-dependencies]
codspeed-criterion-compat = "1.1.0"

[[bench]]
name = "schema_builder_bench"
harness = false
