[package]
name = "query-engine-node-api"
version = "0.1.0"
edition.workspace = true

[lib]
doc = false
crate-type = ["cdylib"]
name = "query_engine"

[features]
default = ["driver-adapters"]
vendored-openssl = ["sql-connector/vendored-openssl"]
driver-adapters = [
    "request-handlers/driver-adapters",
    "sql-connector/driver-adapters",
]

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
query-core.workspace = true
request-handlers = { workspace = true, features = ["all"] }
query-connector.workspace = true
query-engine-common.workspace = true
query-compiler = { workspace = true, features = ["all"] }
user-facing-errors.workspace = true
telemetry.workspace = true
psl = { workspace = true, features = ["all"] }
sql-connector = { path = "../connectors/sql-query-connector", package = "sql-query-connector", features = [
    "all-native",
] }
query-structure.workspace = true
driver-adapters = { workspace = true, features = [
    "postgresql",
    "sqlite",
    "mysql",
    "mssql"
] }
napi.workspace = true
napi-derive.workspace = true

thiserror.workspace = true
connection-string.workspace = true
url.workspace = true
serde_json.workspace = true
serde.workspace = true

tracing.workspace = true
tracing-subscriber.workspace = true
tracing-futures.workspace = true

quaint.workspace = true
tokio.workspace = true
futures.workspace = true

[build-dependencies]
napi-build.workspace = true
build-utils.workspace = true
