[package]
name = "query-engine-node-api"
version = "0.1.0"
authors = ["Julius de Bruijn <bruijn@prisma.io>"]
edition = "2021"

[lib]
doc = false
crate-type = ["cdylib"]
name = "query_engine"

[features]
vendored-openssl = ["sql-connector/vendored-openssl"]

[dependencies]
anyhow = "1"
async-trait = "0.1"
query-core = { path = "../core" }
request-handlers = { path = "../request-handlers" }
query-connector = { path = "../connectors/query-connector" }
user-facing-errors = { path = "../../libs/user-facing-errors" }
psl.workspace = true
sql-connector = { path = "../connectors/sql-query-connector", package = "sql-query-connector" }
prisma-models = { path = "../prisma-models" }

napi = { version = "=2.10.1", default-features = false, features = ["napi8", "tokio_rt", "serde-json"] }
napi-derive = "=2.9.1"

thiserror = "1"
connection-string = "0.1"
url = "2"
serde_json.workspace = true
serde.workspace = true

tracing = "0.1"
tracing-subscriber = { version = "0.3" }
tracing-futures = "0.2"
tracing-opentelemetry = "0.17.3"
opentelemetry = { version = "0.17"}

tokio.workspace = true
futures = "0.3"
query-engine-metrics = {path = "../metrics"}

[build-dependencies]
napi-build = "1"
