[package]
name = "query-engine-node-api"
version = "0.1.0"
edition = "2021"

[lib]
doc = false
crate-type = ["cdylib"]
name = "query_engine"

[features]
default = ["driver-adapters"]
vendored-openssl = ["sql-connector/vendored-openssl"]
driver-adapters = ["request-handlers/driver-adapters", "sql-connector/driver-adapters"]

[dependencies]
anyhow = "1"
async-trait = "0.1"
query-core = { path = "../core", features = ["metrics"] }
request-handlers = { path = "../request-handlers" }
query-connector = { path = "../connectors/query-connector" }
user-facing-errors = { path = "../../libs/user-facing-errors" }
psl.workspace = true
sql-connector = { path = "../connectors/sql-query-connector", package = "sql-query-connector" }
prisma-models = { path = "../prisma-models" }
driver-adapters = { path = "../driver-adapters" }
napi.workspace = true
napi-derive.workspace = true

thiserror = "1"
connection-string.workspace = true 
url = "2"
serde_json.workspace = true
serde.workspace = true

tracing = "0.1"
tracing-subscriber = { version = "0.3" }
tracing-futures = "0.2"
tracing-opentelemetry = "0.17.3"
opentelemetry = { version = "0.17"}

quaint.workspace = true
tokio.workspace = true
futures = "0.3"
query-engine-metrics = {path = "../metrics"}

[build-dependencies]
napi-build = "1"
