[package]
edition = "2021"
name = "query-engine"
version = "0.1.0"

[features]
sql = ["sql-connector", "sql-connector/all-native"]
vendored-openssl = ["sql-connector/vendored-openssl"]

[dependencies]
tokio = { workspace = true, features = ["signal"] }
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
connection-string.workspace = true
connector = { path = "../connectors/query-connector", package = "query-connector" }
enumflags2.workspace = true
psl = { workspace = true, features = ["all"] }
graphql-parser.workspace = true
mongodb-connector = { path = "../connectors/mongodb-query-connector", optional = true, package = "mongodb-query-connector" }
query-core = { workspace = true, features = ["metrics"] }
request-handlers = { workspace = true, features = ["all"] }
serde.workspace = true
serde_json.workspace = true
sql-connector = { path = "../connectors/sql-query-connector", optional = true, package = "sql-query-connector" }
structopt.workspace = true
thiserror.workspace = true
url.workspace = true
hyper = { workspace = true, features = ["server", "http1", "http2", "runtime"] }
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["json", "env-filter"] }
prisma-metrics.workspace = true
panic-utils.workspace = true

user-facing-errors.workspace = true
telemetry.workspace = true

[dev-dependencies]
serial_test = "*"
quaint.workspace = true
indoc.workspace = true
indexmap.workspace = true
sql-query-builder.workspace = true

[build-dependencies]
build-utils.workspace = true
