[package]
authors = ["Dominic Petrick <dompetrick@gmail.com>", "Katharina Fey <kookie@spacekookie.de>"]
edition = "2018"
name = "query-engine"
version = "0.1.0"

[features]
default = ["sql"]
mongodb = ["mongodb-connector", "query-core/mongodb"]
sql = ["sql-connector"]
vendored-openssl = ["quaint/vendored-openssl"]

[dependencies]
futures = "0.3"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }

anyhow = "1.0"
async-std = { version = "1.6.2", features = ["attributes", "tokio1"] }
async-trait = "0.1"
base64 = "0.12"
connection-string = "0.1.10"
connector = { path = "../connectors/query-connector", package = "query-connector" }
datamodel = { path = "../../libs/datamodel/core" }
datamodel-connector = { path = "../../libs/datamodel/connectors/datamodel-connector" }
feature-flags = { path = "../../libs/feature-flags" }
graphql-parser = { git = "https://github.com/prisma/graphql-parser" }
indexmap = { version = "1.0", features = ["serde-1"] }
itertools = "0.8"
mongodb-connector = { path = "../connectors/mongodb-query-connector", optional = true, package = "mongodb-query-connector" }
once_cell = "1.3"
prisma-models = { path = "../../libs/prisma-models" }
query-core = { path = "../core" }
request-handlers = { path = "../request-handlers" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order", "float_roundtrip"] }
sql-connector = { path = "../connectors/sql-query-connector", optional = true, package = "sql-query-connector" }
structopt = "0.3"
thiserror = "1.0"
tide = { version = "0.15.0", default-features = false, features = ["h1-server", "logger"] }
tide-server-timing = "0.15.0"
url = "2.1"

tracing = "0.1"
tracing-opentelemetry = "0.11"
tracing-attributes = "0.1"
tracing-subscriber = { version = "0.2", features = ["json"] }
tracing-futures = "0.2.3"
opentelemetry = { version = "0.12", features = ["async-std"] }
opentelemetry-otlp = { version = "0.5", features = ["tls", "tls-roots"] }
rand = "0.8"
tonic = { version = "0.4", default-features = false }

user-facing-errors = {path = "../../libs/user-facing-errors"}

[build-dependencies]
rustc_version = "0.2.3"

[dev-dependencies]
anyhow = "1"
chrono = "0.4"
enumflags2 = "0.6"
indoc = "1"
migration-connector = { path = "../../migration-engine/connectors/migration-connector" }
migration-core = { path = "../../migration-engine/core" }
serial_test = "*"
sql-migration-connector = { path = "../../migration-engine/connectors/sql-migration-connector" }
test-macros = { path = "../../libs/test-macros" }
test-setup = { path = "../../libs/test-setup" }

[dev-dependencies.quaint]
features = [
  "pooled",
  "json",
  "uuid",
  "chrono",
  "sqlite",
  "postgresql",
  "mysql",
  "mssql",
  "bigdecimal",
]
git = "https://github.com/prisma/quaint"
