[package]
edition = "2021"
name = "psl-core"
version = "0.1.0"

[features]
postgresql = []
sqlite = []
mysql = []
cockroachdb = []
mssql = []
mongodb = []

[dependencies]
diagnostics = { path = "../diagnostics" }
parser-database = { path = "../parser-database" }
prisma-value = { path = "../../libs/prisma-value" }
schema-ast = { path = "../schema-ast" }

bigdecimal = "0.3"
chrono = { workspace = true }
connection-string.workspace = true
itertools.workspace = true
once_cell = "1.3.1"
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
enumflags2.workspace = true
indoc.workspace = true
either = "1.8.1"
hex = "0.4"

# For the connector API.
lsp-types = "0.95.1"
url.workspace = true
cfg-if = "1.0.0"
