[package]
edition = "2021"
name = "psl-core"
version = "0.1.0"

[features]
postgresql = []
sqlite = []
mysql = []
cockroachdb = []
mssql = []
mongodb = []

[dependencies]
diagnostics.workspace = true
parser-database.workspace = true
prisma-value.workspace = true
schema-ast.workspace = true

bigdecimal.workspace = true
chrono.workspace = true
connection-string.workspace = true
itertools.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
enumflags2.workspace = true
indoc.workspace = true
either.workspace = true
hex.workspace = true
wasm-rs-dbg.workspace = true

# For the connector API.
lsp-types.workspace = true
url.workspace = true
cfg-if.workspace = true
