[package]
edition = "2021"
name = "psl-core"
version = "0.1.0"

[dependencies]
diagnostics = { path = "../diagnostics" }
parser-database = { path = "../parser-database" }
prisma-value = { path = "../../libs/prisma-value" }
schema-ast = { path = "../schema-ast" }

bigdecimal = "0.3"
chrono = { version = "0.4.6", default_features = false }
connection-string.workspace = true
itertools.workspace = true
once_cell = "1.3.1"
postcard = { version = "1.0.8", features = ["alloc"] }
regex = "1.3.7"
serde.workspace = true
serde_json.workspace = true
enumflags2 = { version = "0.7", features = ["serde"] }
indoc.workspace = true
either = "1.8.1"
hex = "0.4"

# For the connector API.
lsp-types = "0.91.1"
url = "2.2.1"
