[methods.schemaPush]
description = "The command behind `db push`."
requestShape = "schemaPushInput"
responseShape = "schemaPushOutput"

[recordShapes.schemaPushInput]
description = "Request params for the `schemaPush` method."

[recordShapes.schemaPushInput.fields.force]
description = "Push the schema ignoring destructive change warnings."
shape = "bool"

[recordShapes.schemaPushInput.fields.schema]
description = "The Prisma schema files."
shape = "SchemasContainer"

[recordShapes.schemaPushOutput]
description = "Response result for the `schemaPush` method."

[recordShapes.schemaPushOutput.fields.executedSteps]
description = "How many migration steps were executed."
shape = "u32"

[recordShapes.schemaPushOutput.fields.unexecutable]
description = "Steps that cannot be executed in the current state of the database."
isList = true
shape = "string"

[recordShapes.schemaPushOutput.fields.warnings]
description = "Destructive change warnings."
isList = true
shape = "string"
