name: WASM build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: "WebAssembly build ${{ github.event.ref }} for commit ${{ github.event.inputs.commit }}"
    runs-on: ubuntu-latest
    steps:
      - name: Output link to real commit
        run: echo ${{ github.repository }}/commit/${{ github.event.inputs.commit }}

      - name: Checkout ${{ github.event.inputs.commit }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.commit }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          default: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build the datamodel crate with default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p datamodel --release --target=wasm32-unknown-unknown
