name: WASM build
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - ".buildkite/**"
      - "*.md"
      - "LICENSE"
      - "CODEOWNERS"
      - "renovate.json"

jobs:
  build:
    name: "prisma-schema-wasm build ${{ github.event.ref }} for commit ${{ github.event.inputs.commit }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v23

      - run: nix build .#prisma-schema-wasm
      - run: nix flake check
