name: Build and publish @prisma/prisma-schema-wasm

concurrency: build-prisma-schema-wasm

on:
  # usually triggered via GH Actions Workflow in prisma/engines-wrapper repo
  workflow_dispatch:
    inputs:
      enginesWrapperVersion:
        required: true
      enginesHash:
        required: true
      npmDistTag:
        required: true
        default: "latest"

jobs:
  build:
    name: Build and publish @prisma/prisma-schema-wasm
    runs-on: ubuntu-latest
    steps:
      - name: Print input
        env:
          THE_INPUT: "${{ toJson(github.event.inputs) }}"
        run: |
          echo $THE_INPUT

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.enginesHash }}
      - uses: cachix/install-nix-action@v23

      #
      # Build
      #

      - run: nix build .#prisma-schema-wasm

      #
      # Publish
      #

      - uses: actions/setup-node@v3
        with:
          node-version: "14.x"

      - name: Set up NPM token
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - run: |
          PACKAGE_DIR=$( nix run .#renderPrismaSchemaWasmPackage ${{ github.event.inputs.enginesWrapperVersion }})
          npm publish "$PACKAGE_DIR" --access public --tag ${{ github.event.inputs.npmDistTag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      #
      # Failure handlers
      #

      - name: Set current job url in SLACK_FOOTER env var
        if: ${{ failure() }}
        run: echo "SLACK_FOOTER=<$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID|Click here to go to the job logs>" >> $GITHUB_ENV

      - name: Slack Notification on Failure
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2.2.1
        env:
          SLACK_TITLE: "prisma-schema-wasm publishing failed :x:"
          SLACK_COLOR: "#FF0000"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_WASM_FAILING }}
