name: Build and publish @prisma/query-engine-wasm
run-name: npm - release @prisma/query-engine-wasm@${{ github.event.inputs.packageVersion }} from ${{ github.event.inputs.enginesHash }} on ${{ github.event.inputs.npmDistTag }}

concurrency: publish-query-engine-wasm

permissions:
  id-token: write # required for OIDC / Trusted Publishers

on:
  # usually triggered via GH Actions Workflow in prisma/engines-wrapper repo
  workflow_dispatch:
    inputs:
      packageVersion:
        required: true
        description: 'New @prisma/query-engine-wasm package version'
      enginesHash:
        required: true
        description: 'prisma-engines commit to build'
      npmDistTag:
        required: true
        default: 'latest'
        description: 'npm dist-tag (e.g. latest or integration)'

jobs:
  build:
    name: Build and publish @prisma/query-engine-wasm
    runs-on: ubuntu-latest
    steps:
      - name: Print input
        run: echo "${{ toJson(github.event.inputs) }}"

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.enginesHash }}

      - uses: ./.github/workflows/include/rust-wasm-setup

      - name: Build @prisma/query-engine-wasm
        run: make build-qe-wasm
        env:
          QE_WASM_VERSION: ${{ github.event.inputs.packageVersion }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Update npm to support Trusted Publishers
        run: npm install -g npm@^11.5

      - name: Publish @prisma/query-engine-wasm
        run: npm publish --access public --tag ${{ github.event.inputs.npmDistTag }}
        working-directory: query-engine/query-engine-wasm/pkg
