name: Quaint
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'quaint/**'
  
jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        features:
          - "--lib --features=all"
          - "--lib --no-default-features --features=sqlite"
          - "--lib --no-default-features --features=sqlite --features=chrono --features=json --features=uuid --features=pooled --features=serde-support --features=bigdecimal"
          - "--lib --no-default-features --features=postgresql"
          - "--lib --no-default-features --features=postgresql --features=chrono --features=json --features=uuid --features=pooled --features=serde-support --features=bigdecimal"
          - "--lib --no-default-features --features=mysql"
          - "--lib --no-default-features --features=mysql --features=chrono --features=json --features=uuid --features=pooled --features=serde-support --features=bigdecimal"
          - "--lib --no-default-features --features=mssql"
          - "--lib --no-default-features --features=mssql --features=chrono --features=json --features=uuid --features=pooled --features=serde-support --features=bigdecimal"
          - "--doc --features=all"
    env:
      TEST_MYSQL: "mysql://root:prisma@localhost:3306/prisma"
      TEST_MYSQL8: "mysql://root:prisma@localhost:3307/prisma"
      TEST_MYSQL_MARIADB: "mysql://root:prisma@localhost:3308/prisma"
      TEST_PSQL: "postgres://postgres:prisma@localhost:5432/postgres"
      TEST_MSSQL: "jdbc:sqlserver://localhost:1433;database=master;user=SA;password=<YourStrong@Passw0rd>;trustServerCertificate=true"
      TEST_CRDB: "postgresql://prisma@127.0.0.1:26259/postgres"
      RUSTFLAGS: "-Dwarnings"

    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ matrix.features }}

      - name: Start Databases
        run: docker-compose -f docker-compose.yml up -d
        working-directory: ./quaint

      - name: Sleep for 20s
        uses: juliangruber/sleep-action@v1
        with:
          time: 20s

      - name: Run tests
        run: cargo test -p quaint ${{ matrix.features }}
