name: Query Engine Black Box
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/query-engine-black-box.yml'
      - '.buildkite/**'
      - '*.md'
      - 'LICENSE'
      - 'CODEOWNERS'
      - 'renovate.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust-tests:
    name: 'Test query-engine as a black-box'

    strategy:
      fail-fast: false
      matrix:
        database:
          - name: 'postgres15'
            single_threaded: false
            connector: 'postgres'
            version: '15'

    env:
      LOG_LEVEL: 'info'
      LOG_QUERIES: 'y'
      RUST_LOG_FORMAT: 'devel'
      RUST_BACKTRACE: '1'
      CLICOLOR_FORCE: '1'
      CLOSED_TX_CLEANUP: '2'
      SIMPLE_TEST_MODE: '1'
      QUERY_BATCH_SIZE: '10'
      TEST_RUNNER: 'direct'
      TEST_CONNECTOR: ${{ matrix.database.connector }}
      TEST_CONNECTOR_VERSION: ${{ matrix.database.version }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        continue-on-error: true
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 'Start ${{ matrix.database.name }} (${{ matrix.engine_protocol }})'
        run: make start-${{ matrix.database.name }}

      - uses: dtolnay/rust-toolchain@stable

      - run: export WORKSPACE_ROOT=$(pwd) && cargo build --package query-engine
        env:
          CLICOLOR_FORCE: 1

      - run: export WORKSPACE_ROOT=$(pwd) && cargo test --package black-box-tests -- --test-threads=1
        env:
          CLICOLOR_FORCE: 1
