name: 'All crates'
on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/test-compilation.yml'
      - '!.github/workflows/test-compilation-template.yml'
      - '*.md'
      - 'LICENSE'
      - 'CODEOWNERS'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compilation:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        crate:
          - schema-engine-cli
          - prisma-fmt

    uses: ./.github/workflows/test-compilation-template.yml
    with:
      os: ${{ matrix.os }}
      crate: ${{ matrix.crate }}

  compilation-push:
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
        crate:
          - schema-engine-cli
          - prisma-fmt

    uses: ./.github/workflows/test-compilation-template.yml
    with:
      os: ${{ matrix.os }}
      crate: ${{ matrix.crate }}
