run-name: '${{ inputs.crate }} on ${{ inputs.os }}'

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      crate:
        type: string
        required: true

jobs:
  test-crate-compilation:
    name: '${{ inputs.crate }} on ${{ inputs.os }}'
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: compile ${{ inputs.crate }}
        shell: bash
        env:
          CRATE: ${{ inputs.crate }}
        run: cargo build --release -p "$CRATE"

      - name: 'Check that Cargo.lock did not change'
        run: 'git diff --exit-code'
