[package]
name = "query-compiler-wasm"
version = "0.1.0"
edition = "2024"

[lib]
doc = false
crate-type = ["cdylib"]
name = "query_compiler_wasm"

[lints]
workspace = true

[dependencies]
psl.workspace = true
quaint.workspace = true
tracing.workspace = true

js-sys.workspace = true
serde.workspace = true
serde_json.workspace = true
tsify-next.workspace = true
wasm-bindgen.workspace = true
wasm-rs-dbg.workspace = true
query-core.workspace = true
query-compiler.workspace = true
schema.workspace = true
request-handlers.workspace = true

[build-dependencies]
build-utils.workspace = true

[features]
sqlite = ["psl/sqlite", "query-compiler/sqlite"]
postgresql = ["psl/postgresql", "query-compiler/postgresql"]
mysql = ["psl/mysql", "query-compiler/mysql"]

[package.metadata.wasm-pack.profile.release]
wasm-opt = false # use wasm-opt explicitly in `./build.sh`

[package.metadata.wasm-pack.profile.profiling]
wasm-opt = false # use wasm-opt explicitly in `./build.sh`
